{% extends 'base.html' %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                <tbody>
                    {% for task in show_my_tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed |yesno:"yes,no" }}</td>
                        </tr>
                    {% empty %}
                        <div>
                            <p>You have no tasks</p>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
