{% extends 'base.html' %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <div>
                <p>
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </p>
            </div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                <tbody>
                    {% for project in list_projects %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' project.id %}">{{ project.name }} {{ project.tasks.all | length }}</a>
                            </td>
                        </tr>
                    {% empty %}
                        <div>
                            <p>You are not assigned to any projects</p>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
